<div class="adminPanel">
<h1>Control Panel</h1>

<div><button class="btn btn-del" onclick="location.href = '/admin/deleteUser'"><a href="/admin/deleteUser" >Delete user</a></button></div>
<div><button class="btn btn-del" onclick="location.href = '/admin/deleteLocation'"><a href="/admin/deleteLocation">Delete Location</a></button></div>
</div>