<h3>Delete user</h3>
<form method="POST" action="/admin/deleteUser">
  <label>Username:</label>
  <input type="text" name="username" placeholder="Username">
  <button type="submit" id="submit">Delete</button>
</form>