<div class="adminPanel deleteLocation">
  <h3>Delete location <img class="dangerImg" src="https://vignette.wikia.nocookie.net/kavra/images/b/b1/Danger_sign_from_wikipedia.png/revision/latest/scale-to-width-down/547?cb=20180202212727" alt="Danger Sign"></h3>
  <form method="POST" action="/admin/deleteLocation">
    <input type="text" name="name" placeholder="Location name"><br>
    <button class="btn btn-del" type="submit" id="submit">Delete Location</button>
  </form>
</div>