<h3>Delete location</h3>
<form method="POST" action="/admin/deleteLocation">
  <label>Name:</label>
  <input type="text" name="name" placeholder="Location name">
  <button type="submit" id="submit">Delete</button>
</form>