<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+SC" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script src="/javascripts/geolocalize.js"></script>
</head>

<body>

  {{> navbar}}
  {{{body}}}
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/javascripts/events.js"></script>
  <script src="/javascripts/addPlaces.js"></script>
  <script src="/javascripts/navMap.js"></script>


  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpK3H8uHIj99teUQ5u0J6z7uDH9_DgEko&libraries=geometry"></script>




</body>

</html>